@mixin contactMeBase {
    border: 4px solid black;
    width: 100%;
    padding: 15px;
    transition: all 0.25s ease-in-out;
    text-align: justify;
    line-height: 1.5em;
    // min-height: 18px;
    &:focus {
        box-shadow: 0 0 0 15px #ff0;
        outline: none;
        &::placeholder {
            opacity: 0;
        }
        &.good {
            box-shadow: 0 0 0 15px #0f0;
            border-color: #0f0;
        }
        &.bad {
            box-shadow: 0 0 0 15px #f00;
            border-color: #f00;
        }
    }
    &::placeholder {
        color: color(grey);
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }
    &.good {
        border-color: #0f0;
    }
    &.bad {
        border-color: #f00;
    }
}

#contactMeName {
    @include contactMeBase();
    border-top-left-radius: 15px;
    &:focus {
        outline: none;
    }
}

#contactMeMail {
    @include contactMeBase();
    min-height: 18px;
}

#contactMeMessage {
    @include contactMeBase();
    resize: none;
    overflow: hidden;
}

#contactMeSubmit {
    @include contactMeBase();
    text-align: center;
    background-color: color(white);
    border-bottom-right-radius: 15px;
    &:focus {
        outline: none !important;
        box-shadow: noned;
        background-color: color(yellow);
    }
    &:hover {
        background-color: color(yellow);
    }
}