@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./PressStart2P-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    font-size: 10px !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
    z-index: 0;
}

*:focus {
    outline: 3px solid color(yellow);
}

button:focus {
    outline: none;
}

::selection {
    background-color: rgb(255, 255, 0);
    color: color(black);
}

a:hover {
    text-decoration: none;
}

::-webkit-scrollbar-track {
    border: 0;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: color(lightGrey);
}

::-webkit-scrollbar-thumb {
    background-color: color(black);
}

section {
    opacity: 0%;
    transition: all 0.4s ease-in-out;
    transform: scale(0.9);
    pointer-events: none;
    &.box {
        .h1bg--show {
            width: 100%;
        }
    }
}

.show {
    opacity: 100%;
    transform: scale(1);
    pointer-events: all;
}

.h1bg {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: center center;
    transform: translateX(-50%) scale(0, 1);
    height: 100%;
    width: 100vw;
    background: color(black);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.h1bg--show {
    transform: translateX(-50%) scale(1, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.heading--yellow {
    color: color(yellow);
}