    /* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); */
    
    
    
    @import "variablesAndFunctions";
    @import "global";
    @import "bootstrapClasses";
    // @import 'pageBackground';
    @import "navbar";
    @import "content";
    @import 'aboutMe';
    @import 'mySkills';
    @import "myRecentWork";
    @import "contactMe";

    /* header settings */
    
    header {
        position: relative;
        justify-content: space-evenly;
    }
    
    .header__white {
        position: relative;
        min-height: 500px;
        background-image: url('../img/smoke.png');
        background-repeat: no-repeat;
        background-position: left 50% top 23px;
        background-size: contain;
        overflow: hidden;
    }
    
    .header__gray {
        position: relative;
        background-color: #fff;
        min-height: 500px;
        background-image: url('../img/smoke2.png');
        background-repeat: no-repeat;
        background-position: 37px 351px;
        background-size: 196px;
        overflow: hidden;
    }
    
    .header__gray--img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .square {
        position: absolute;
        box-sizing: border-box;
        border: 10px solid #f1f1f1;
    }
    
    .header__gray .square {
        width: 200px;
        height: 250px;
        top: 13%;
        right: -75px;
    }
    
    .header__gray .square.square_02 {
        top: 52%;
        left: -100px;
    }
    
    .header__white .square {
        width: 400px;
        height: 350px;
        top: 100px;
        left: -20px;
    }
    
    .header__white .square.square_02 {
        width: 100%;
        top: 52%;
        left: 75%;
    }

    
    
    /* content's elements */
    
    .heading {
        position: relative;
        margin: 10rem 0 10rem 0;
        text-align: center;
        font-size: 4rem;
    }
    
    .heading::before {
        content: '';
        position: absolute;
        bottom: -1.4rem;
        left: 50%;
        height: 0.7rem;
        width: 20rem;
        background-color: #000;
        transform: translateX(-50%);
    }
    
    .heading::after {
        content: '';
        position: absolute;
        bottom: -3rem;
        left: 50%;
        height: 0.5rem;
        width: 10rem;
        background-color: #000;
        transform: translateX(-50%);
    }
    
    .whatIdoBackground {
        position: relative;
        padding-top: 16rem !important;
        background-image: url('../img/matrixBg.png');
        background-position: top center;
        background-repeat: repeat-x;
        z-index: -1;
    }
    
    .whatIdoBackground::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%);
        z-index: -1;
    }
    
    .whatIdo {
        background-color: #fff;
        box-shadow: 0 1.5rem 2.9rem rgba(0, 0, 0, 0.2);
        padding-bottom: 10rem;
    }
    
    .whatIdoBox {
        min-height: 10rem;
    }
    
    .whatIdoIcon {
        width: auto;
        height: 8rem;
    }
    /* footer content */
    
    footer {
        height: 400px;
        background-color: #000;
    }
    /* overwrite bootstrap 4 */
    
    
    @media all and (min-width: 2560px) {
         :root {
            font-size: 15px;
        }
        .container {
            max-width: 2100px;
        }
        .col,
        .col-1,
        .col-10,
        .col-11,
        .col-12,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9,
        .col-auto,
        .col-lg,
        .col-lg-1,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-auto,
        .col-md,
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-auto,
        .col-sm,
        .col-sm-1,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-auto,
        .col-xl,
        .col-xl-1,
        .col-xl-10,
        .col-xl-11,
        .col-xl-12,
        .col-xl-2,
        .col-xl-3,
        .col-xl-4,
        .col-xl-5,
        .col-xl-6,
        .col-xl-7,
        .col-xl-8,
        .col-xl-9,
        .col-xl-auto {
            padding: 0 2rem 0 2rem;
        }
    }
    
    @media all and (min-width: 3840px) {
         :root {
            font-size: 20px;
        }
        .container {
            max-width: 2800px;
        }
        .col,
        .col-1,
        .col-10,
        .col-11,
        .col-12,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9,
        .col-auto,
        .col-lg,
        .col-lg-1,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-auto,
        .col-md,
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-auto,
        .col-sm,
        .col-sm-1,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-auto,
        .col-xl,
        .col-xl-1,
        .col-xl-10,
        .col-xl-11,
        .col-xl-12,
        .col-xl-2,
        .col-xl-3,
        .col-xl-4,
        .col-xl-5,
        .col-xl-6,
        .col-xl-7,
        .col-xl-8,
        .col-xl-9,
        .col-xl-auto {
            padding: 0 3rem 0 3rem;
        }
    }
    /* settings for media queries */
    
    @media all and (max-width: 767px) {
        .header__white {
            background-image: url('img/smoke.png');
            background-repeat: no-repeat;
            background-position: bottom -19px left 80%;
            background-size: contain;
        }
        .header__gray {
            display: none;
        }
        .content__right {
            display: none;
        }
    }
    
    @media all and (max-width: 575px) {
         :root {
            font-size: 2.5vw;
        }
        .heading {
            font-size: 8vw;
        }
        .skillTag>p {
            font-size: 1rem;
        }
    }